<div  style="padding: 15px;" ng-controller="CSLoginController">
<form ng-submit="login()" class="login-form ng-pristine ng-invalid ng-invalid-required" method="post" name="homeFormLogin" role="form" style="width: 200px;">
  <div class="input-group" style="margin-bottom: 15px;">
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-user"></span>
    </span>
    <input type="text" placeholder="tu id de usuario" class="form-control" autofocus required ng-model="credentials.username" id="UserName" name="UserName" />
  </div>
  <div class="input-group" style="margin-bottom: 15px;">
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-pencil"></span>
    </span>
    <input type="password" placeholder="Contraseña" required ng-model="credentials.password"class="form-control" id="Password" name="Password" />
  </div>
  <input id="RememberMe" style="float: left; margin-right: 10px;" type="checkbox" name="RememberMe" value="true" />
  <label class="string optional" for="RememberMe">Mantener la sesión</label>
  <input class="btn btn-primary" ng-disabled="homeFormLogin.$invalid"style="clear: left; width: 100%; height: 32px; font-size: 13px;"type="submit" name="commit" value="Iniciar sesión" />
</form>
</div>

<script type="text/javascript">
$(function() {
  // Setup drop down menu
  $('.dropdown-toggle').dropdown();
 
  // Fix input element click problem
  $('.dropdown input, .dropdown label').click(function(e) {
    e.stopPropagation();
  });
});
</script>