<div id="home">
    <div class="col-xs-4">
        <div id="welcome-msg" class="well">
                <h3>Welcome <small>
                        <br />to your new fan-page to Formula 1
                    </small>
                </h3>
                <div class="welcome">
                    <img class="img-thumbnail center-block float-left"
                         src="/images/users/jmr.pineda.jpg">
                    <p class="text-block">
                        Either <strong>you loves the Formula 1</strong>, on technical level,
                        on sports, videogames about this sport discipline, this is your new web reference about F1, with news,
                        and forums.
                    </p>
                    <p class="text-block">
                        Para los más "viciosillos" <strong>tenemos una porra cada temporada</strong>, en la que se apuesta cada fin de semana de Gran Premio, en la que podrás ganar premios en
                        metálico, y con un enfoque orientado a otorgar la casi totalidad
                        de lo recaudado a premios.
                    </p>
                    <p>@CoreStrings.App_MainPageDownloadRulesDoc</p>
                </div>
                <div class="text-center">
                    <a class="btn btn-default" href="#">PDF</a> <a class="btn btn-default" href="#">iBook</a> <a class="btn btn-default" href="#">online</a>
                </div>
                <br /> <br /> <a href="http://chocoevents.es/">
                    <img src="/images/banners/chocoevents.jpg"
                         class="img-responsive center-block img-thumbnail">
                </a>
            </div>
    </div>
    <div class="col-xs-4"></div>
    <div class="col-xs-4"></div>
</div>